.logo {
  float: left;
  font-size: 24px;
  color: #fff;
}

.content {
  display: flex;
  align-items: center;
  padding: 0 50px;
  min-height: calc(100vh - 64px - 70px);
  justify-content: center;
}

.shortener {
  width: 50%;
  background: #fff;
  padding: 40px 35px;
}

.linkField {
  display: flex;
  width: 100%;
}

.linkFieldInput {
  flex: 100%;
  margin-right: 5px;
}

.linkFieldButton {
  width: 120px;
}

.footer {
  text-align: center;
}

@media (max-width: 576px) {
  .content {
    padding: 0 5px;
  }
  .shortener {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .linkField {
    display: block;
  }

  .linkFieldButton {
    margin-top: 10px;
  }
}

@media (max-width: 1120px) {
  .shortener {
    width: 90%;
  }
}
